@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  border-1px:after {
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    -ms-transform: scaleY(0.7);
    -o-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}
@media (-webkit-max-device-pixel-ratio: 2), (max-device-pixel-ratio: 2) {
  border-1px:after {
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  line-1px:after {
    -webkit-transform: scaleX(0.7);
    -moz-transform: scaleX(0.7);
    -ms-transform: scaleX(0.7);
    -o-transform: scaleX(0.7);
    transform: scaleX(0.7);
  }
}
@media (-webkit-max-device-pixel-ratio: 2), (max-device-pixel-ratio: 2) {
  line-1px:after {
    -webkit-transform: scaleX(0.5);
    -moz-transform: scaleX(0.5);
    -ms-transform: scaleX(0.5);
    -o-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
}
.clearFix {
  display: inline-block;
}
.clearFix :after {
  content: '.';
  width: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
@font-face {
  font-family: 'sell-icon';
  src: url("../fonts/sell-icon.eot?6u6oal");
  src: url("../fonts/sell-icon.eot?6u6oal#iefix") format('embedded-opentype'), url("../fonts/sell-icon.ttf?6u6oal") format('truetype'), url("../fonts/sell-icon.woff?6u6oal") format('woff'), url("../fonts/sell-icon.svg?6u6oal#sell-icon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add_circle:before {
  content: "\e900";
}
.icon-arrow_lift:before {
  content: "\e901";
}
.icon-check_circle:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-favorite:before {
  content: "\e904";
}
.icon-keyboard_arrow_right:before {
  content: "\e905";
}
.icon-remove_circle_outline:before {
  content: "\e906";
}
.icon-shopping_cart:before {
  content: "\e907";
}
.icon-thumb_down:before {
  content: "\e908";
}
.icon-thumb_up:before {
  content: "\e909";
}
